<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <link rel="stylesheet" href="/stylesheets/chatStyle.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.js"></script>
  <script type="text/javascript" src="/javascripts/chatScript.js"></script>
  <script type="text/javascript" src="/javascripts/overlay.js"></script>
</head>

<body>
<div class="pure-g">
  <div id="canvasContainer">
    <canvas id='outputCanvas'></canvas>
  </div>

  <div id="their-video-container">
    <video autoplay id="their-video"></video>
  </div>

  <div id="my-video-container">
    <video id='my-video' autoplay muted height="375 px" width="500 px"></video>
  </div>

  <div class="btn-container">
    <button class="btn" id="give_help" onclick="giveHelp()">Give Help</button>
    <button class="btn" id="receive_help">Receive Help</button>
  </div>
  <!-- Steps -->
  <div class="pure-u-1-3">
    <h2>PeerJS Video Chat</h2>

    <!-- Get local audio/video stream -->
    <div id="step1">
      <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>

      <div id="step1-error">
        <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click
          allow when asked for permission by the browser.</p>
        <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
      </div>
    </div>

    <!-- Make calls to others -->
    <div id="step2">
      <p>Your id: <span id="my-id">...</span></p>

      <p>Share this id with others so they can call you.</p>

      <h3>Make a call</h3>

      <div class="pure-form">
        <input type="text" placeholder="Call user id..." id="callto-id">
        <button class="btn" id="make-call">Call</button>
      </div>
    </div>

    <!-- Call in progress -->
    <div id="step3">
      <p>Currently in call with <span id="their-id">...</span></p>
      <button class="btn" id="end-call">End call</button>
    </div>
  </div>
</div>
</body>
</html>